<section class="contact" id="contact">
  <section class="container m-auto">

      <section class="special_heading">
          <h2>contact us !</h2>
          <p>feel free to contact us any time</p>
      </section>
          <section class="contact_content">
              <form action="" method="get">
                  <!-- <section class="input_field">
                      <input type="text" placeholder="User Name" name="username">
                  </section> -->
                  <section class="input_field">
                      <input type="email" placeholder="Email Address" name="email">
                  </section>

                  <section class="input_field">
                      <input type="text" placeholder="Object" name="object">
                  </section>
                  <section class="input_field">
                      <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" name="Message"></textarea>
                  </section>
                  <button type="submit" class="btn btn-lg btn-outline contact_content_btn">Send</button>
              </form>

              <section class="contact_image">
                  <img src="../../../assets/images/contact_image.png" alt="">
              </section>
          </section>
  </section>
</section>
