    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs bg-gray-200">
          <li class="nav-item" (click)="setActive(-1)">
            <a class="nav-link" [ngClass]="activTab == -1 ? 'activated' : ''">
              All
            </a>
          </li>
          <li
            class="nav-item"
            *ngFor="let cat of catNames; let in = index"
            (click)="setActive(in)"
          >
            <a class="nav-link" [ngClass]="activTab == in ? 'activated' : ''">{{ cat }}</a>
          </li>
        </ul>
      </div>
    </div>

