<div class="feedback-item">
  <div class="user d-flex align-items-center">
    <img
      src="../../../../assets/images/users/user1.jpg"
      width="55"
      alt="user"
      class="rounded-circle"
    />
    <div>
      <h6>{{feedback.user_name}}</h6>
       <div class="rating" style="color: orange;">
        <i class="bx" [ngClass]="{ 'bxs-star':  feedback.rating >= 1, 'bx-star': feedback.rating < 1 }"></i>
        <i class="bx" [ngClass]="{ 'bxs-star': feedback.rating >= 2, 'bx-star': feedback.rating < 2 }"></i>
        <i class="bx" [ngClass]="{ 'bxs-star': feedback.rating >= 3, 'bx-star': feedback.rating < 3 }"></i>
        <i class="bx" [ngClass]="{ 'bxs-star': feedback.rating >= 4, 'bx-star': feedback.rating < 4 }"></i>
        <i class="bx" [ngClass]="{ 'bxs-star': feedback.rating >= 5, 'bx-star': feedback.rating < 5 }"></i>
      </div>
    </div>
  </div>
  <p>
    {{feedback.comment}}
  </p>
</div>
