main
{
width: 100%;
margin: auto;
display: grid;
grid-template-areas:
"header header header header header header header header header header header header"
"sidebar section section section section section section section section section section section"
"sidebar section section section section section section section section section section section"
"footer footer footer footer footer footer footer footer footer footer footer footer"
;
}
header{
  grid-area:header;
}
section{
  padding: 50px;
  text-align: center;
  grid-area:section;
}
#viewer{
  height: 500px;
}
aside{
  text-align: center;
  grid-area:sidebar;
}
app-footer{
  grid-area:footer;
}
@media(max-width:768px){

}
