<main>
  <div class="col-md-12 d-flex justify-content-between border-right bg-gradiantt">
    <div class="col-md-3 d-flex justify-content-around align-items-center mx-2 text-center  p-2 py-3">
        <h3>Course Details</h3>
    </div>

    <!-- <div class="logo p-2 py-3 col-md-6 "><a class="badge-dark" routerLink="">Course Pilot</a></div> -->

    <div class=" col-md-3 d-flex justify-content-between align-items-center mx-2 text-center  p-2 py-3 contact_bt">

              <a  [routerLink]="'/courses'" >
                <i class="fa-sharp fa-solid fa-arrow-left fa-bounce" style="color: #ffffff;"></i>
                Back</a>
    </div>

   </div>


   <div
    class="page-banner-area ptb-100 mt-2"
    style="background-image: url(../../../../assets/images/page-banner-bg.jpg)"
  >
    <div class="container">
      <div class="page-banner-content">
        <div class="list d-sm-flex align-items-center">
          <div class="list-item d-block position-relative">
            <div class="d-flex align-items-center">
              <!-- <img
                src="../../../../assets/images/users/user1.jpg"
                width="30"
                alt="user"
                class="rounded-circle"
              /> -->
              {{courseDetails[0].instructor_name}}
             </div>
          </div>
          <div class="list-item d-inline-block position-relative">{{courseDetails[0].category_name}}</div>
          <div class="list-item d-inline-block position-relative">
            <i class="bx bxs-star"></i> {{courseRate}} (<a href="#reviews">{{courseDetails[0].positive_count + courseDetails[0].negative_count + courseDetails[0].neutral_count}} Reviews</a>)
          </div>
        </div>
        <h1> {{courseDetails[0].name}}</h1>
        <ul class="ps-0 mb-0 list-unstyled">
          <li class="d-inline-block position-relative">
            <a routerlink="/" href="/">Home</a>
          </li>
          <li class="d-inline-block position-relative">Course Details</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="course-details-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="course-details-desc">
            <ul class="nav nav-tabs d-block">
              <li
                class="nav-item d-inline-block"
                [ngClass]="{ activated: currentSection === 'overview' }"
                (click)="toggleSection('overview')"
              >
                <button
                  type="button"
                  class="nav-link position-relative shadow-none border-0 mb-0 rounded-0"
                >
                  Overview
                </button>
              </li>
              <li
                class="nav-item d-inline-block"
                [ngClass]="{ activated: currentSection === 'content' }"
                (click)="toggleSection('content')"
              >
                <button
                  type="button"
                  class="nav-link position-relative shadow-none border-0 mb-0 rounded-0"
                >
                  Course Content
                </button>
              </li>
              <li
                class="nav-item d-inline-block"
                [ngClass]="{ activated: currentSection === 'reviews' }"
                (click)="toggleSection('reviews')"
              >
                <button
                  type="button"
                  class="nav-link position-relative shadow-none border-0 mb-0 rounded-0"
                >
                  Reviews
                </button>
              </li>
            </ul>

            <div>
              <div>
                <div
                  id="overview"
                  class="desc"
                  [hidden]="
                    currentSection !== 'overview' && currentSection !== 'not'
                  "
                >
                  <h2 text>Description</h2>
                  <p>
                    {{courseDetails[0].description}}
                  </p>
                </div>

                <div
                  id="content"
                  class="course-details-content"
                  [hidden]="
                    currentSection !== 'content' && currentSection !== 'not'
                  "
                >
                  <h2>Course Content</h2>
                  <div *ngIf="isOwner" class="accordion-section">
                    <div class="d-flex gap-1 ps-2 mb-2">
                      <i class="fa-solid fa-plus align-self-center"></i>
                      <a (click)="newMatrialPage()">New Matrial</a>
                   </div>
                  </div>
                  <div class="accordion">
                    <div class="accordion-section" *ngFor="let week of contentByWeek  let i = index">
                      <div class="d-flex justify-content-between pe-2">
                              <li
                              class="accordion-header w-75" style="cursor: pointer;"
                              (click)="isCollapsed[i] = !isCollapsed[i]"
                              [attr.aria-expanded]="!isCollapsed"
                              aria-controls="collapseExample" >
                              Week : {{week.week}}
                           </li>
                           <i *ngIf="isCollapsed[i]" class="fa-solid fa-chevron-down"></i>
                           <i *ngIf="!isCollapsed[i]" class="fa-solid fa-chevron-up"></i>
                          </div>
                      <div
                        class="accordion-content"
                        #collapse="ngbCollapse"
                        [(ngbCollapse)]="isCollapsed[i]"
                      >
                        <ul class="ps-0 mb-0 list-unstyled" *ngFor="let item of week.items">
                          <div class="d-flex justify-content-between align-items-center">
                            <li  (click)=" sendData(item , false)"  routerLink="/course-media"
                            ngbDropdownItem
                            class="d-sm-flex align-items-center gap-1" style="cursor: pointer;">
                          <i class="fa-regular fa-file-pdf"></i>
                          <a>{{item.pdf}}</a>
                          </li>
                          <span> <a class="badge bg hove" style="color: #21225F;  font-weight: 700;" (click)="Summary(item , false)"  routerLink="/course-media">PDF Summary</a></span>
                          </div>
                          <div class="d-flex justify-content-between align-items-center">
                            <li  (click)=" sendData(item , true)" routerLink="/course-media"
                            ngbDropdownItem
                            class="d-sm-flex align-items-center gap-1" style="cursor: pointer;">
                            <i class="fa-solid fa-video"></i>
                            <a>{{item.video_title}}</a>
                            </li>
                            <span>  <a class="badge bg" style="color: #21225F;  font-weight: 700;" (click)="Summary(item , true)"  routerLink="/course-media">video Summary</a></span>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  id="reviews"
                  [hidden]="
                    currentSection !== 'reviews' && currentSection !== 'not'
                  "
                  class="course-details-feedback"
                >
                  <h2>Student's feedback</h2>
                  <div class="row align-items-center overflow-hidden">
                    <div class="col-lg-4 col-md-4">
                      <div class="content text-center">
                        <h1>{{courseRate}}</h1>
                        <div class="rating">
                          <i class="bx" [ngClass]="{ 'bxs-star': courseRate >= 1, 'bx-star': courseRate < 1 }"></i>
                          <i class="bx" [ngClass]="{ 'bxs-star': courseRate >= 2, 'bx-star': courseRate < 2 }"></i>
                          <i class="bx" [ngClass]="{ 'bxs-star': courseRate >= 3, 'bx-star': courseRate < 3 }"></i>
                          <i class="bx" [ngClass]="{ 'bxs-star': courseRate >= 4, 'bx-star': courseRate < 4 }"></i>
                          <i class="bx" [ngClass]="{ 'bxs-star': courseRate >= 5, 'bx-star': courseRate < 5 }"></i>
                        </div>
                        <span class="d-block">Course Rating</span>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <div class="rating-content">
                        <div class="item d-flex align-items-center">
                          <div class="w-70">
                            <div
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="70"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress"
                            >
                              <div
                                class="progress-bar"
                                [style.width.%]="CalcPercentage(courseDetails[0].positive_count)+1"
                               ></div>
                            </div>
                          </div>
                          <div class="rating">
                            <i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i>
                          </div>
                          <span>{{CalcPercentage(courseDetails[0].positive_count)}}%</span>
                        </div>
                        <div class="item d-flex align-items-center">
                          <div class="w-70">
                            <div
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="20"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress"
                            >
                              <div
                                class="progress-bar"
                                [style.width.%]="CalcPercentage(courseDetails[0].neutral_count)+1"
                              ></div>
                            </div>
                          </div>
                          <div class="rating">
                            <i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i
                            ><i class="bx bxs-star"></i
                            ><i class="bx bx-star"></i
                            ><i class="bx bx-star"></i>
                          </div>
                          <span>{{CalcPercentage(courseDetails[0].neutral_count)}}%</span>
                        </div>
                        <div class="item d-flex align-items-center">
                          <div class="w-70">
                            <div
                              role="progressbar"
                              aria-label="Basic example"
                              aria-valuenow="10"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              class="progress"
                            >
                              <div
                                class="progress-bar"
                                [style.width.%]="CalcPercentage(courseDetails[0].negative_count)+1"
                              ></div>
                            </div>
                          </div>
                          <div class="rating">
                            <i class="bx bxs-star"></i
                            ><i class="bx bx-star"></i
                            ><i class="bx bx-star"></i
                            ><i class="bx bx-star"></i
                            ><i class="bx bx-star"></i>
                          </div>
                          <span>{{CalcPercentage(courseDetails[0].negative_count)}}%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <div class="feedback-list" *ngIf="courseReviews && courseReviews.length > 0">
                    <app-slider [Comments]="courseReviews"></app-slider>
                  </div>

                  <div class="course-details-write-review my-3">
                    <h2>Write a Review</h2>
                    <p>What is it like to Course?</p>
                    <form
                      [formGroup]="commentForm"
                      (ngSubmit)="submitComment()"
                      class="ng-untouched ng-pristine ng-valid"
                    >
                      <div
                        class="rating"
                        style="font-size: x-large; color: orange; margin: 20px"
                      >
                        <ngb-rating
                          class="m-0 p-0 ngb-rating"
                          [(rate)]="selected"
                          [readonly]="readonly"
                        >
                        </ngb-rating>
                      </div>
                      <div class="form-group">
                        <textarea
                          formControlName="comment"
                          cols="30"
                          rows="3"
                          placeholder="Message..."
                          class="form-control"
                        ></textarea>
                      </div>
                      <button type="submit" class="default-btn my-2">
                        Submit Review
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="course-details-info">
            <app-course-card [id]="courseDetails[0].id" [title]="courseDetails[0].name" [image]="courseDetails[0].cover" [category]="courseDetails[0].category_name" [description]="courseDetails[0].description" [instructor]="courseDetails[0].instructor_name" [numOfStudents]="courseDetails[0].user_count" [numOfReviews]="courseDetails[0].positive_count +courseDetails[0].negative_count + courseDetails[0].neutral_count " [Rate]="courseRate" [showEnroll]="!userData.type"></app-course-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>
