      <nav class="mynav py-0 mx-0">
            <section class="container px-0">
            <a href=''class="logo">
              <!-- <img src="../../../assets/images/logo_icon.svg" alt=""> -->
                <h4>CoursePilot</h4>
            </a>
            <ul class="nav_links">
                <li><a href="">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="">contact us</a></li>
                <li><a href="/allCourses">Courses</a></li>
            </ul>
            <!-- <app-search></app-search> -->
            <section class="mobile_icon">
                <i class="fa-solid fa-bars " id="burger_bars_icon"></i>
            </section>
            <section class="profile_details">
              <i class="fa-solid fa-xmark" id="exit_icon"></i>
              <section class="personal_img">
              </section>
              <app-user-profile [pageType]="notpage"></app-user-profile>
            </section>
            <section class="personal_profile">
                <section class="personal_img">
                </section>
                <section class="personal_info">
                    <p class="personal_name">Elkhatieb</p>
                    <span class="personal_case">Student</span>
                </section>
            </section>
        </section>
    </nav>
