 <section class="profile_details">
                <i class="fa-solid fa-xmark" id="exit_icon"></i>
                <section class="personal_img">
                </section>
                <section class="personal_details">
                    <p>User Type: <span class="definition">Student</span></p>
                    <p>Name: <span id="personal_name">Elkhatieb</span></p>
                    <p>ID: <span id="personal_id">#23175</span></p>
                    <p>Registerd Courses: <span id="quizes_number"><a href="#mycourses.html">5</a> </span></p>
                    <!-- <p>Your Rank: <span id="Ranking">Gold</span></p> -->
                </section>
            </section>

      <nav class="mynav">
            <section class="container">
            <a href='../home_page/index.html'class="logo">
                <h4>3almny</h4>
                <img src="../../../assets/images/logo_icon.svg" alt="">
            </a>

            <ul class="nav_links">
                <li><a href="../home_page/index.html">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="../home_page/contact.html">contact us</a></li>
                <li><a href="#">Courses</a></li>
            </ul>
            <section class="search_bar">
                <input type="search" name="search" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </section>
            <section class="mobile_icon">
                <i class="fa-solid fa-bars " id="burger_bars_icon"></i>
            </section>

            <section class="personal_profile">
                <section class="personal_img">

                </section>
                <section class="personal_info">
                    <p class="personal_name">Elkhatieb</p>
                    <span class="personal_case">Student</span>
                </section>
            </section>
        </section>
    </nav>
