header .register .container .description{
    position:relative;
}
header .register {
  position: relative;
  height: 90vh;
  margin-block: 50px;
}
header .register .container {
  background-image: url("../../assets/images/Ellipse\ 6236.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
.main_content_image {
  width: 450px;
  position:absolute;
  bottom:0;
  left:0;
 bottom: 76px;
  animation: photo 6s infinite;
}
@keyframes photo {
  0% {
    bottom:0;
  }
  35% {
    bottom: 10%;
  }
  75% {
    bottom: 8%;
  }
  100% {
    bottom: 0;
  }
}
@media  (min-width: 400px) and (max-width: 1200px) {
  .desc_text {
    font-size: 35px !important;
  }
}

.input_field{
    margin-bottom:29px;
}

.main_form .input_field i {
  position: absolute;
  color: #00507c;
  font-size: 20px;
  top: 50%;
  left: 25px;
  margin-top: -12px;
}
.main_form .input_field .eye {
  left: 90%;
 }
.main_form form .username {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.main_form form .submittion {
display:flex;
align-items:center;
gap:29px;

}

.main_form form .select_dropdown_menu {
  background-color: #fff;
  width: fit-content;
  padding: 20px 25px 20px 55px;
  border-radius: 8px;
  position:relative;
  flex:1;
}

.main_form form .select_dropdown_menu select {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #00507c;
  width:100%;
  cursor:pointer;
  appearance:none;
}

.main_form form .select_dropdown_menu i{
  position: absolute;
  color: #00507c;
  font-size: 20px;
  top: 50%;
  margin-top:-10px;
}
.main_form form .select_dropdown_menu .user{
   left:25px;
}
 .down_arrow{
   right:25px;
}

.main_form .input_field input {
  width: 100%;
  padding: 25px 25px 25px 55px;
  border-radius: 8px;
  border: none;
  outline: none;
}



.next_btn {
  height:70px;
  padding:0px 30px;

}
.next_btn:hover {
  background-color: rgb(0 80 124);}

  @media(max-width:430px){
    .main_form form .submittion{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .main_form form .submittion .select_dropdown_menu {
        width: 100%;
    }
    .error-message{
      font-size: 10px;
    }
    .eye{
      left:85% !important;
    }
    .main_form .input_field i{
      left: 12px;
    }
    .main_form .input_field{
      margin-bottom: 15px !important;
    }
}
