<app-header></app-header>
<app-landing></app-landing>
<section class="py-5 bg-white">
  <div id="top-rated" class="container">
  <div class="row row-cols-2 justify-content-between mb-3">
    <h2 class="h1 fs-4 m-0">Top Rated</h2>
    <div class="button m-0">
      <div class="button-layer"></div>
      <a routerLink="courses">All Courses</a>
    </div>
  </div>
<app-trending-now [catNames]="categoriesNames" (onTabChange)="tabChange($event)"></app-trending-now>
</div>
</section>
<section class="container-md " >
  <div class="row">
    <ng-container *ngFor="let course of apiAllCourses">
        <app-course-card  class="col-xl-4 col-md-6 col-sm-6  my-2" *ngIf=" getCategoryNameById(course.category_id) ==  categoriesNames[activatedTab] || noActiveTab || activatedTab==-1 " [id]="course.id" [title]="course.name" [description]="course.description" [image]="course.cover" [category]="getCategoryNameById(course.category_id)" [numOfStudents]="(course.user_count)" [instructor]="course.instructor_name" [numOfReviews]="course.positive_count + course.neutral_count+course.negative_count" [Rate]="calcRate(course.positive_count , course.neutral_count  , course.negative_count )"></app-course-card>
    </ng-container>
  </div>
</section>
 <section id="about">
  <app-about-us></app-about-us>
 </section>
 <app-contact-us></app-contact-us>
 <app-footer></app-footer>
