
<footer>
  <section class="container">
        <section class="logo">
          <h4>3almny</h4>
          <img src="../../../../../assets/images/logo.png" alt="">
      </section>

         <ul class="footer_links">
          <li><a href="#">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">Courses</a></li>
      </ul>
      <section class="contact_icons">
          <section class="icon">
              <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          </section>

          <section class="icon">
              <a href="https://www.google.com" target="_blank"><i class="fa-solid fa-phone"></i></a>
          </section>

          <section class="icon">
              <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          </section>
      </section>
  </section>
</footer>
