<header>

<!-- start main content -->

  <section class="register">
    <section class="container" >

      <section class="description">

            <p class="desc_text">Welcome to
              Course Pilot </p>
            <section class="main-img w-50 ">
                <img src="../../../assets/images/login.png" alt="image-1" class="main_content_image">
            </section>

      </section>

      <section class="main_form">

        <form (submit)="submitForm(formData)">

            <h3 class="main_form_headnig">Login</h3>

              <section class="input_field">
                <i class="fa-regular fa-envelope fa-bounce"></i>
                <input type="email" class="" id="email" placeholder="Email" name="Email" [(ngModel)]="formData.Email">
              </section>

              <section class="input_field">
                <i class="fa-solid fa-lock fa-bounce"></i>
                <input type="password" class="" id="password" placeholder="Password" name="Password" [(ngModel)]="formData.Password">
              </section>

            <section class="personal_remember">

                <section class="remember_me_checking">
                  <input type="checkbox" id="remember">
                  <label for="remember">Remember me</label>

                </section>

               <a href="" class="password_forget">Forgot Password?</a>

            </section>

            <button class="login_btn" type="submit">login</button>


            <p class="form_anchor1 text-center"><a>I don’t have an account ? </a></p>

            <p class="form_anchor2 text-center"><a class=""  routerLink="/signup" >create Account</a></p>

        </form>

       </section>

    </section>

  </section>
