<section *ngIf="pageType">
  <div
    class="col-md-12 d-flex justify-content-between border-right bg-gradiantt"
  >
    <div class="logo p-2 py-3">
      <a class="badge-dark" routerLink="">Course Pilot</a>
    </div>

    <div
      class="d-flex justify-content-between align-items-center mx-2 text-center p-2 py-3 contact_bt"
    >
      <a  routerLink="">
        <i
          class="fa-sharp fa-solid fa-arrow-left fa-bounce"
          style="color: #ffffff"
        ></i>
        Back</a
      >
    </div>
  </div>
  <div class="row contact1 mx-0 py-4">
    <div class="col-lg-4 px-0">
      <div class="bg card mb-4 mx-2">
        <div class="card-body text-center">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp"
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <p class="text-muted mb-1" *ngIf="userData.type">Instructor</p>
          <p class="text-muted mb-1" *ngIf="!userData.type">Student</p>
          <div class="d-flex flex-column">
            <input  class="bg-transparent text-center" [(ngModel)]="userData.name" [disabled]="isInputDisabled" />
            <input class="bg-transparent text-center"  type="text" [(ngModel)]="userData.email" [disabled]="isInputDisabled" />
            <!-- <input class="bg-transparent text-center"  type="password" [(ngModel)]="userData.password" [disabled]="isInputDisabled" /> -->
          </div>
          <a *ngIf="isInputDisabled" class="badge" style="background: floralwhite; color: gray" href="#" (click)="editProfile()">Edit</a>
          <a *ngIf="!isInputDisabled" class="badge btn-danger" style="background: rgb(81, 57, 7); color: white" href="#" (click)="Update()">Save</a>
         </div>
      </div>
    </div>
    <div class="col-lg-8 px-0">
      <div class="bg card mb-4">
        <div class="card-body">
          <div class="flex-row">
            <div class="col-sm-3">
              <p class="mb-0">My Courses</p>
            </div>
            <div class="col-sm-9">
              <p><a href="#">3 //waiting for its Api</a></p>
            </div>
          </div>
          <hr />
          <div *ngIf="!userData.type" class="flex-row">
            <div class="col-sm-3">
              <p class="mb-0">My Reviews</p>
            </div>
            <ng-container *ngFor="let comment of userComments">
            <div class="col-sm-9">
                {{comment.comment}}
            </div>
            </ng-container>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="personal_details d-flex flex-column" *ngIf="!pageType">
  <div>
    <p class="m-0  my-2" *ngIf="!userData.type">
      User Type: <span class="definition">Student</span>
    </p>
  </div>
  <div>
    <p class="m-0  my-2" *ngIf="userData.type">
      User Type: <span class="definition">Instructor</span>
    </p>
  </div>

  <div>
    <p class="m-0  my-2">
      Name: <span id="personal_name">{{ userData.name }}</span>
    </p>
  </div>

  <div>
    <p class="m-0  my-2">
      Email: <span id="personal_id">{{ userData.email }}</span>
    </p>
  </div>

  <div>
    <p class="m-0 my-2">
      Registerd Courses:
      <span id="quizes_number"
        ><a href="#mycourses.html">{{ userData.numOfCourses }}</a>
      </span>
    </p>
  </div>
     <a href="userProfile" class="btn-warning w-30 rounded rounded-3 text-center">Go to Profile</a>
  
    <div class="align-self-center">
    <hr class="my-4">
    <a   (click)="logout()" class="bounce hov-pointer"><i class="fa-solid fa-right-from-bracket fa-2xl fa-beat-fade"></i> Log out </a>
    </div>
</section>
