<section *ngIf="pageType">
  <div class="col-md-12 d-flex justify-content-between border-right bg-gradiantt">
    <div class="logo p-2 py-3 "><a class="badge-dark" href="home_page.html">Course Pilot</a></div>

    <div class="d-flex justify-content-between align-items-center mx-2 text-center  p-2 py-3 contact_bt">
            <a href="home_page.html" >
              <i class="fa-sharp fa-solid fa-arrow-left fa-bounce" style="color: #ffffff;"></i>
              Back</a>
    </div>

   </div>
      <div class="row contact1 mx-0 py-4">
        <div class="col-lg-4 px-0">
          <div class=" bg card mb-4 mx-2">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"> {{apiData.name}} </h5>
              <p class="text-muted mb-1" *ngIf="apiData.type">Instructor</p>
              <p class="text-muted mb-1" *ngIf="!apiData.type">Student</p>
              <p class="text-muted mb-4">{{apiData.email}}</p>
                <a class="badge" style="background: floralwhite; color:gray" href="#">Edit</a>
             </div>
          </div>
        </div>
        <div class="col-lg-8 px-0">
          <div class="bg card mb-4">
            <div class="card-body">
              <div class="flex-row">
                <div class="col-sm-3">
                  <p class="mb-0">My Courses</p>
                </div>
                <div class="col-sm-9">
                  <p><a href="#">{{apiData.numOfCourses}}</a></p>
                </div>
              </div>
              <hr>
              <div class="flex-row">
                <div *ngIf="!apiData.type" class="col-sm-3">
                  <p class="mb-0">My Reviews</p>
                </div>
                <div class="col-sm-9">
                </div>
                <p><a href="#">{{apiData.numOfReviews}}</a></p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
 </section>

  <section class="personal_details" *ngIf="!pageType">
    <p *ngIf="!apiData.type">User Type: <span class="definition">Student</span></p>
    <p  *ngIf="apiData.type">User Type: <span class="definition">Instructor</span></p>
    <p>Name: <span id="personal_name">{{apiData.name}}</span></p>
      <p>ID: <span id="personal_id">{{apiData.email}}</span></p>
      <p>Registerd Courses: <span id="quizes_number"><a href="#mycourses.html">{{apiData.numOfCourses}}</a> </span></p>
      <!-- <p>Your Rank: <span id="Ranking">Gold</span></p> -->
  </section>
