/* Color System */
$black: #000000;
$light-black: #1F1F1F;
$white: #FFFFFF;
$pink: #E4007E;
$red: #F80007;
$button-color: #5130B5;
$light-grey-background: #EEEEEE;
$button-color-light: #F4F4F4;
$grey:#929292;
$card-content-color:#464646;
$card-content-color2:#EC4EA5;
$breadcrumb-color:#FFFFFFBF;
$Numbered-Navigation-color:#8D8D8D;
$dark-grey:darkgrey;
$light-grey:lightgray;
$btn-grey: rgb(61, 60, 60);
 
