/* Fonts */
$primary-font: 'Roboto';
$regular-font: 'Roboto-Regular';
$light-font: 'Roboto-Light';
$medium-font: 'Roboto-Medium';
$bold-font: 'Roboto-Bold';
$def-direction: left;
/* Font Size */
// $desktop-base : 28px;
// $tablet-base : 22px;
// $mobile-base :14px;

// Swiper vars
$Slidesperpage:2.8;
$spaceBetweencards:25;

//navbar height
$navbar-s:4.5rem;
$navbar-xl:3rem;

//font size
$font-size-s:14px;
$font-size-t:18px;
$font-size-xl:22px;
$font-size-xxl:28px;
$opp-float:rem(22,14);
$def-float:rem(22,14);
