<section class="container-fluid px-0 " style="min-height: 100vh;">

  <div class="col-md-12 d-flex justify-content-between border-right bg-gradiantt">
    <div class="col-md-3 d-flex justify-content-between align-items-center mx-2 text-center  p-2 py-3">
        <h2>{{viewtype}}</h2>
    </div>

    <!-- <div class="logo p-2 py-3 col-md-6 "><a class="badge-dark" routerLink="">Course Pilot</a></div> -->

    <div class=" col-md-3 d-flex justify-content-between align-items-center mx-2 text-center  p-2 py-3 contact_bt">
            <a  *ngIf=" viewtype != 'All Courses'" [routerLink]="'/userProfile'" >
              <i class="fa-sharp fa-solid fa-arrow-left fa-bounce" style="color: #ffffff;"></i>
              Back</a>
              <a  *ngIf=" viewtype == 'All Courses'" [routerLink]="'/'" >
                <i class="fa-sharp fa-solid fa-arrow-left fa-bounce" style="color: #ffffff;"></i>
                Back</a>
    </div>

   </div>

  <div class="my-3 container-fluid row row-cols-md-1  pr-0 ">
    <app-trending-now class="col-xl-9" [catNames]="categoriesArray" (onTabChange)="tabChange($event)"></app-trending-now>
    <app-search  class="col-xl-3 my-xl-0 px-md-0 px-sm-0 my-3" (searchTextChanged)="onSearchTextEnterd($event)" ></app-search>
  </div>
  <section class="container-fluid " >
    <div class="row">
      <ng-container *ngFor="let course of Courses">
        <!-- || course.instructor.toLowerCase().includes(searchV) -->
          <app-course-card  class="col-xxl-3 col-xl-4 col-md-6 col-sm-6  my-2" *ngIf=" (getCategoryNameById(course.category_id ) == categoriesArray[activatedTab] ||noActiveTab || activatedTab==-1) && (searchV ==='' || course.name.toLowerCase().includes(searchV) || course.description.toLowerCase().includes(searchV) )"
         [id]="course.id"  [title]="course.name" [instructor]="course.instructor_name"  [description]="course.description" [image]="course.cover" [category]="getCategoryNameById(course.category_id)" [numOfStudents]="course.user_count"  [showEnroll]="enroll" ></app-course-card>
      </ng-container>
    </div>
  </section>
</section>
<app-footer></app-footer>
