.features{
  background:linear-gradient(89.99deg, #56d1d4 0%, #183c9f 99.99%);
}
.feature{
  min-height: 100px;
}
.f-box{
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 25px;
  width: 100%;
  margin-block:5px;
}
