<section class="container my-5">
     <div class="align-items-center row">
      <div class="mb-6 mb-lg-0 col-lg-8">
        <div class="">
          <h5 class="text-dark mb-4 fs-6">
              <i class="fa-solid fa-microchip-ai"></i>
            Ai powered Educational System
           </h5>
          <h1 class="fs-1 fw-bold mb-3 fs-4">
            Grow your skills and advance career
          </h1>
          <p class="pe-lg-10 mb-4 fs-7">
            Start, switch, or  Study and advance your Skills with our courses,
            Professional Certificates, and degrees from world-class universities
            and companies.
          </p>
          <div *ngIf="!loggedIn" class="button"> <div class="button-layer"></div> <a routerLink="signup">Sign up now</a></div>
        </div>
      </div>
      <div class="d-flex justify-content-center col-lg-4">
        <div class="position-relative">
          <img
            src="../../../assets/svg/bg.svg"
            alt=""
            class=""
          />
          <img
            src="../../../assets/images/girl-image.4cef0f73b3900c512313.png"
            alt=""
            class="position-absolute end-0 bottom-0"
          />
        </div>
      </div>
    </div>
</section>
<section class="features d-flex flex-column">
  <div class=" row  text-center pt-3">
    <h2 class="text-capitalize text-bold" style="color: whitesmoke;">
      What we Offer
    </h2>
  </div>
  <div class="  row row-cols-md-4 justify-content-center py-2">
    <div class="feature d-flex  ">
     <div  class="f-box my-sm-3">
       <i class="fa-regular fa-file-pdf fa-bounce"></i>
        PDF Summary
     </div>
   </div>
   <div class="feature d-flex ">
         <div  class="f-box my-sm-3">
           <i class="fa-sharp fa-regular fa-video fa-bounce"></i>
            Video Summary
         </div>
    </div>
    <div class="feature d-flex ">
     <div  class="f-box my-sm-3">
       <i class="fa-regular fa-message fa-bounce"></i>
       Chatbot
     </div>
   </div>
 </div>
</section>

